audio_files/
Satzpaare Tschechisch-Deutsch - 2022-05-30.tsv
sentences_with_audio.tar.bz2
sentences_with_audio.tsv
poetry.lock
sorted_sentences.tsv
tschechisch_deutsch_deck.apkg
tatoeba_to_anki/__pycache__/
Tatoeba-Deutsch-Tschechisch.apkg
sentences_with_audio.csv
audio_files1/
Sentence pairs in Mandarin Chinese-German - 2022-06-08.tsv
Tatoeba-Deutsch-Tschechisch 2.apkg
Chinesisch.apkg
zconfig.toml
