audio_files/
Satzpaare Tschechisch-Deutsch - 2022-05-30.tsv
sentences_with_audio.tar.bz2
sentences_with_audio.tsv
poetry.lock
sorted_sentences.tsv
tschechisch_deutsch_deck.apkg
tatoeba_to_anki/__pycache__/
Tatoeba-Deutsch-Tschechisch.apkg
sentences_with_audio.csv
audio_files1/
Sentence pairs in Mandarin Chinese-German - 2022-06-08.tsv
Tatoeba-Deutsch-Tschechisch 2.apkg
Chinesisch.apkg
zconfig.toml
Tatoeba-Deutsch-Tschechisch new.apkg
sorted_sentences_new.tsv
Tschechisch-Deutsch.txt
Tschechisch-Deutschold.txt
test.txt
ces_eng.sqlite
eng_deu.sqlite
ces_eng.apkg
ces_eng.txt
Czech_English.db
spa_eng.txt
Spanish_English.db
kaikki.org-dictionary-Spanish.json
kaikki.org-dictionary-Czech.json
*.sqlite
*.db
ces_deu.txtb
Czech_German.db
audio_files_old/
audio/
*.mp3
*.jso
*.json
query.txt
pol_eng.txt
ces_deu.txt
*.apkg
lat_eng.txt
